<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/links/edit/{{link.id}}" method="POST">
                    <div class="form-group">
                        <input value="{{link.title}}" type="text" class="form-control" name="title" placeholder="title" autofocus>
                    </div>
                      <div class="form-group">
                        <input value="{{link.url}}" type="url" name="url" class="mt-3 form-control" placeholder="URL">
                    </div>
                    <div class="form-group">
                        <textarea name="description" rows="2" class="mt-3 form-control" placeholder='Description' >{{link.description}} </textarea>
                    </div>
                         <div class="form-group d-grid">
                        <button  class="btn btn-success mt-4 d-block">
                            Save
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>